<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58643-34"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', "UA-58643-34");
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>beginland-css-acceptingdonation - Pastebin.com</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="description" content="Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time." />
    <meta property="og:description" content="Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time." />
        <meta property="fb:app_id" content="231493360234820" />
    <meta property="og:title" content="beginland-css-acceptingdonation - Pastebin.com" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://pastebin.com/XTDqG9U6" />
    <meta property="og:image" content="https://pastebin.com/i/facebook.png" />
    <meta property="og:site_name" content="Pastebin" />
    <meta name="google-site-verification" content="jkUAIOE8owUXu8UXIhRLB9oHJsWBfOgJbZzncqHoF4A" />
    <link rel="canonical" href="https://pastebin.com/XTDqG9U6" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=1.0, user-scalable=yes">
        <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="46sOsZmJdyxF4aU_tKcdPLzH8wNA6Z6goI6IHuUFw2y5w0iC9u41fiGW3E3i93puj6OBZyqn39f669JPv1WSFQ==">

<link href="/assets/c093bd59/css/bootstrap.css" rel="stylesheet">    
<link href="/themes/pastebin/css/vendors.bundle.css?7da107c836eec746526c" rel="stylesheet">
<link href="/themes/pastebin/css/app.bundle.css?7da107c836eec746526c" rel="stylesheet">
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    googletag.cmd.push(function() {
        googletag.defineSlot('/21892923737/pb_header_728x90', [[728, 90], [468, 60], [970, 90]], 'gpt-passback').addService(googletag.pubads());
        googletag.defineSlot('/21892923737/pb_footer_728x90', [[728, 90], [468, 60], [970, 90]], 'div-gpt-ad-1593095439111-0').addService(googletag.pubads());
        googletag.defineSlot('/21892923737/pb_sidebar_120x600', [[160, 600], [120, 600]], 'div-gpt-ad-1593095572267-0').addService(googletag.pubads());
        // googletag.pubads().enableSingleRequest();
        googletag.pubads().disableInitialLoad();
        googletag.enableServices();
    });
</script>
<script type='text/javascript'>
    !function(a9,a,p,s,t,A,g){if(a[a9])return;function q(c,r){a[a9]._Q.push([c,r])}a[a9]={init:function(){q("i",arguments)},fetchBids:function(){q("f",arguments)},setDisplayBids:function(){},targetingKeys:function(){return[]},_Q:[]};A=p.createElement(s);A.async=!0;A.src=t;g=p.getElementsByTagName(s)[0];g.parentNode.insertBefore(A,g)}("apstag",window,document,"script","//c.amazon-adsystem.com/aax2/apstag.js");

    // initialize apstag and have apstag set bids on the googletag slots when they are returned to the page
    apstag.init({
        pubID: 'fcfacf81-21b4-42d5-b3bd-672af22fe303',
        adServer: 'googletag',
        bidTimeout: 2e3
    });
    // request the bids for the four googletag slots
    apstag.fetchBids({
        slots: [
            {
                slotID: 'gpt-passback', //example: div-gpt-ad-1475102693815-0
                slotName: '/21892923737/pb_header_728x90', //example: //example: /116082170/slot2
                sizes: [[728, 90], [468, 60], [970, 90]] //example: [[300,250],[300, 600]]
            },
            {
                slotID: 'div-gpt-ad-1593095439111-0', //example: div-gpt-ad-1475102693815-0
                slotName: '/21892923737/pb_footer_728x90', //example: //example: /116082170/slot2
                sizes: [[728, 90], [468, 60], [970, 90]] //example: [[300,250],[300, 600]]
            },
            {
                slotID: 'div-gpt-ad-1593095572267-0', //example: div-gpt-ad-1475102693815-0
                slotName: '/21892923737/pb_sidebar_120x600', //example: //example: /116082170/slot2
                sizes: [[160, 600], [120, 600]] //example: [[300,250],[300, 600]]
            },
            // {
            //   slotID: 'enter your slotID',
            //   slotName: 'enter your DFP ad unit path',
            //   sizes: [[width, height], [width, height]]
            // }
        ]
    }, function (bids) {
        // set apstag bids, then trigger the first request to DFP
        googletag.cmd.push(function () {
            apstag.setDisplayBids();
            googletag.pubads().refresh();
        });
    });
</script>
</head>
<body class="">


<div class="wrap">

    <!-- Header -->
    
        
<div class="header">
    <div class="container">
        <div class="header__container">

            <!-- left -->
            <div class="header__left">
                <a class="header__logo" href="/">
                    Pastebin                </a>

                <div class="header__links h_1024">
                                            <a href="/pro" class="pro">GO</a>
                    
                    <a href="/doc_api">API</a>
                    <a href="/tools">tools</a>
                    <a href="/faq">faq</a>
                                    </div>

                
                <a class="header__btn" href="/">
                    paste                </a>
            </div>

            <!-- right -->
            <div class="header__right">

                                    <div class="header_sign">
                        <a href="/login" class="btn-sign sign-in">Sign in</a>
                        <a href="/signup" class="btn-sign sign-up">Sign up</a>
                    </div>
                
            </div>

        </div>
    </div>

</div>
        

    <div class="container">
        <div class="content">

            <!-- Leaderboard Below Header -->
            <div class="special__header">
    <div id="gpt-passback">
        <script>
            googletag.cmd.push(function() { googletag.display("gpt-passback"); });
        </script>
    </div>
</div>
            <!-- Content -->
                        
            
            
<link href="/themes/pastebin/css/geshi/light/text.css?20200411" rel="stylesheet">

<div class="post-view">

    <div class="details">
        <div class="share h_800">
            <div data-key="XTDqG9U6" class="share-btn facebook js-facebook-share" title="Share on Facebook!"><span>SHARE</span></div>
            <div data-key="XTDqG9U6" class="share-btn twitter js-twitter-share" title="Share on Twitter!"><span>TWEET</span></div>
        </div>
        <div class="user-icon">
                            <img src="/themes/pastebin/img/guest.png" alt="Guest User">                    </div>
        <div class="info-bar">
            <div class="info-top">

                
                
                <h1>beginland-css-acceptingdonation</h1>
            </div>
            <div class="info-bottom">

                                    <div class="username">
                        a guest                    </div>
                
                <div class="date">
                    <span title="Friday 24th of July 2020 07:34:56 PM CDT">Jul 24th, 2020</span>

                                    </div>

                <div class="visits" title="Unique visits to this paste">
                    2                </div>

                <div class="expire" title="When this paste gets automatically deleted">
                    Never                </div>
            </div>
        </div>
    </div>

                        <div class="page">
                <div class="content__text -no-padding">
                    <div class="notice -post-view">
                        <b>Not a member of Pastebin yet?</b>
                        <a href="/signup"><b><u>Sign Up</u></b></a>,
                        it unlocks many cool features!                    </div>
                </div>
            </div>
        
    
    <div class="highlighted-code">
        <div class="top-buttons">
            <div class="left">
                <a href="/archive/text" class="btn -small h_800">text</a> 0.33 KB            </div>

            <div class="right">
                <a href="/raw/XTDqG9U6" class="btn -small">raw</a>
                <a href="/dl/XTDqG9U6" class="btn -small">download</a>
                <a href="/clone/XTDqG9U6" class="btn -small h_800">clone</a>
                <a href="/embed/XTDqG9U6" class="btn -small h_800">embed</a>
                <a href="/report/XTDqG9U6" class="btn -small">report</a>
                <a href="/print/XTDqG9U6" class="btn -small h_800">print</a>

                
                            </div>
        </div>
        <div class="source" style=" ">
            <ol class="text"><li class="li1"><div class="de1">.user{</div></li><li class="li1"><div class="de1">    background: rgb(2,0,36);</div></li><li class="li1"><div class="de1">    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,9,121,1) 35%, rgba(0,212,255,1) 100%);</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">a{</div></li><li class="li1"><div class="de1">    color: crimson;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">body{</div></li><li class="li1"><div class="de1">    font-family: &#039;Franklin Gothic Medium&#039;, &#039;Arial Narrow&#039;, Arial, sans-serif;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">h3{</div></li><li class="li1"><div class="de1">    border-style:groove;</div></li><li class="li1"><div class="de1">    border-color: red;</div></li><li class="li1"><div class="de1">}</div></li></ol>        </div>
    </div>

            <div class="content__title -no-border">
            RAW Paste Data        </div>

        <textarea class="textarea">.user{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

a{
    color: crimson;
}

body{
    font-family: &#039;Franklin Gothic Medium&#039;, &#039;Arial Narrow&#039;, Arial, sans-serif;
    
}



h3{
    border-style:groove;
    border-color: red;
}</textarea>
    
    <!-- Leaderboard Mid Footer -->
    <div class="special__footer">
    <!-- /21892923737/pb_footer_728x90 -->
    <div id="div-gpt-ad-1593095439111-0" style="width: 728px; height: 90px; margin:0 auto;">
        <script>
            googletag.cmd.push(function() { googletag.display("div-gpt-ad-1593095439111-0"); });
        </script>
    </div>
</div>
</div>
        </div>
        <div class="sidebar h_1024">
            
<!-- Private Posts -->

<!-- Public Posts -->

                
    <div class="sidebar__title">
        <a href="/archive">Public Pastes</a>
    </div>
    <ul class="sidebar__menu">

                    <li>
                <a href="/SSmFtLNn">demos parsing html</a>
                <div class="details">
                                            Python |
                    
                    18 minutes ago                </div>
            </li>
                    <li>
                <a href="/3GwJFjz0">love maze</a>
                <div class="details">
                                            HTML |
                    
                    28 minutes ago                </div>
            </li>
                    <li>
                <a href="/KgbdZfY3">lovesick</a>
                <div class="details">
                                            HTML |
                    
                    32 minutes ago                </div>
            </li>
                    <li>
                <a href="/r1n6H6bY">html/vxgzvqidnz.duckdns.org</a>
                <div class="details">
                                            HTML |
                    
                    33 minutes ago                </div>
            </li>
                    <li>
                <a href="/23fk67MG">Məsələ-L</a>
                <div class="details">
                                            C++ |
                    
                    37 minutes ago                </div>
            </li>
                    <li>
                <a href="/ryqMA9Fa">colorChanger.lua</a>
                <div class="details">
                                            Lua |
                    
                    38 minutes ago                </div>
            </li>
                    <li>
                <a href="/ftBacgK1">Məsələ-K</a>
                <div class="details">
                                            C++ |
                    
                    38 minutes ago                </div>
            </li>
                    <li>
                <a href="/Lr1EBbuU">Məsələ-J</a>
                <div class="details">
                                            C++ |
                    
                    39 minutes ago                </div>
            </li>
        
    </ul>
            


<!-- Skyscraper Right -->
<div class="special__sidebar">
    <!-- /21892923737/pb_sidebar_120x600 -->
    <div id="div-gpt-ad-1593095572267-0">
        <script>
            googletag.cmd.push(function() { googletag.display("div-gpt-ad-1593095572267-0"); });
        </script>
    </div>
</div>        </div>
    </div>
</div>

<!-- Footer -->

    
<div class="top-footer">
    <a class="icon-link -size-24-24 -chrome" href="/tools#chrome" title="Google Chrome Extension"></a>
    <a class="icon-link -size-24-24 -firefox" href="/tools#firefox" title="Firefox Extension"></a>
    <a class="icon-link -size-24-24 -iphone" href="/tools#iphone" title="iPhone/iPad Application"></a>
    <a class="icon-link -size-24-24 -windows" href="/tools#windows" title="Windows Desktop Application"></a>
    <a class="icon-link -size-24-24 -android" href="/tools#android" title="Android Application"></a>
    <a class="icon-link -size-24-24 -macos" href="/tools#macos" title="MacOS X Widget"></a>
    <a class="icon-link -size-24-24 -opera" href="/tools#opera" title="Opera Extension"></a>
    <a class="icon-link -size-24-24 -unix" href="/tools#pastebincl" title="Linux Application"></a>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__container">

            <div class="footer__left">
                <a href="/">create new paste</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                                <a href="/languages">syntax languages</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/archive">archive</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/faq">faq</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/tools">tools</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/night_mode">night mode</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_api">api</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_scraping_api">scraping api</a>

                <br>
                <a href="/doc_privacy_statement">privacy statement</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_cookies_policy">cookies policy</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_terms_of_service">terms of service</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_security_disclosure">security disclosure</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/dmca">dmca</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/report-abuse">report abuse</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/contact">contact</a>
                <br><br>

                
<span class="footer__bottom h_800">
    By using Pastebin.com you agree to our <a href="/doc_cookies_policy">cookies policy</a> to enhance your experience.
    <br>
    Site design &amp; logo &copy; 2020 Pastebin; user contributions (pastes) licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank" rel="nofollow">cc by-sa 3.0</a>
</span>
            </div>

            <div class="footer__right h_1024">
                                    <a class="icon-link -size-40-40 -facebook-circle" href="https://facebook.com/pastebin" rel="nofollow" title="Like us on Facebook" target="_blank"></a>
                    <a class="icon-link -size-40-40 -twitter-circle" href="https://twitter.com/pastebin" rel="nofollow" title="Follow us on Twitter" target="_blank"></a>
                            </div>

        </div>
    </div>
</footer>
    

<!-- Popup messages -->

    
<div class="popup-container">

    <!-- Cookies Policy -->
            <div class="popup-box -cookies" data-name="l2c_1">
            We use cookies for various purposes including analytics. By continuing to use Pastebin, you agree to our use of cookies as described in the <a href="/doc_cookies_policy">Cookies Policy</a>.            &nbsp;<span class="cookie-button js-close-cookies">OK, I Understand</span>
        </div>
    
    <!-- Signup -->
            <div class="popup-box -pro" data-name="l2c_2_pg">
            <div class="pro-promo-img">
                <a href="/signup">
                    <img src="/themes/pastebin/img/hello.png" alt=""/>
                </a>
            </div>
            <div class="pro-promo-text">
                Not a member of Pastebin yet?<br/>
                <a href="/signup"><b>Sign Up</b></a>, it unlocks many cool features!            </div>
            <div class="close js-close-pro-guest" title="Close Me">&nbsp;</div>
        </div>
    
    <!-- PRO -->
    
    <!-- Dark theme -->
    
</div>
    

<!-- Button for scroll page to top -->
<span class="cd-top"></span>

<script src="/assets/ae9b8d97/jquery.js"></script>
<script src="/assets/1745bc3b/yii.js"></script>
<script src="/themes/pastebin/js/vendors.bundle.js?7da107c836eec746526c"></script>
<script src="/themes/pastebin/js/app.bundle.js?7da107c836eec746526c"></script>
</body>
</html>
