body {
  background: rgba(78, 255, 180, 0.7);
  /* background: #000065; */
  color: rgba(99, 63, 8, 0.7);
  font-size: 1em;
  font-family: "Helvetica";
  text-align: center;
  font-size: xx-small;
}

h1 {
  color: rgba(9, 255, 95, 0.9);
  font-size: xx-large;
  font: 
}

h2 {
  font: omnibus-type;
  color: rgba(222, 130, 90, 0.8);
  font-size: x-large;
}

h3 {
  color: rgba(155,90,90);
  font-size: large;
}

table {
  color: rgba(255,4,56,0.9);
  font-size: large;
}
ul {
  padding: 3em;
  color: rgba(255,255,255,0.9);
  font-size: large;
}

il {
  font-size: small;
}