html{
    background:#e0e0e0;
    font-family:arial;
}
body {
    max-width:1000px;
    background:white;
    margin:0 auto;
    min-height:100vh;
}
h1 a {
    color:white;
    text-decoration: none;
}
h1 {
    background:#02329a;
    margin:0;
    padding:50px 2%;
    width:96%;
    font-size:1.1em;
    text-align:left;
}
h3 {
    background:#6797ce;
    color:white;
    width:96%;
    font-size:0.7em;
    padding:10px 2%;
    margin:0;
}
h2 {
    position:absolute;
    top:200px;
    display:block;
    color:black;
    font-size:.9em;
    width:50%;
    max-width:400px;
    padding:0 2%;
}
h2::after {
    display:block;
    background-image:url('https://myspace.com/common/images/user.png');
    background-size:200px 200px;
    background-position:top left;
    background-repeat:no-repeat;
    height:400px;
    font-size:.5em;
    padding:0 10px 0px 210px;
    content:"'What do I do with my hands'  California    United States";

}
table::before {
    border:1px solid black;
    content:"but most of all, beginbot is my hero";
    color:#000;
    font-size:.7em;
    padding:10px;
}
ul {
    position:relative;
    left:50%;
    list-style-type: none;
    padding:0 20px;
    width:45%;
    margin:0;
}
li:first-of-type {
    border-top:20px solid #f4c996;
    margin-top:20px;
}
li {
    color: #5f5f5f;
    font-size: .8em;
}
li a {
    color:black;
    text-decoration: none;
}
li a:hover {
    color:#f4c996;
}
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    display:block;
    vertical-align: baseline;
    background: transparent;
}
table {
    position:relative;
    left:50%;
    display:block;
    padding:20px;
    width:49%;
    border-collapse: collapse;
}
tbody {
    display:block;
}
tr {
    border-top:20px solid #f4c996;
    margin-top:20px;
    column-count: 4;
    font-size: .5em;
    column-gap: 11%;
    display: block;
    padding:20px 0 0 0;

}
td {
    text-align: center;
    width: 100%;
}
td a {
    color:black;
    text-decoration: none;
}
a:hover {
    color:#02329a;
}
table tbody tr td a::after {
    display:block;
    background-image:url('https://myspace.com/common/images/user.png');
    background-size:100% auto;
    background-position:top left;
    background-repeat:no-repeat;
    height:120px;
    padding:0 10px 0px 100%;
    content:" ";
}
figure{
    background:url('https://www.dummies.com/wp-content/uploads/138543.image0.jpg');
     background-size:100% auto;
     width:45%;
     color:transparent;
     position:relative;
     top:-200px;
     right:10px;
     height:8vw;
     max-height:85px;
 }
 audio::-webkit-media-controls-enclosure{
    background:transparent;
    border-radius:0px
}
 figcaption{
     display:none;
 }
 audio {
     opacity:.1;
     width:100%;
    height:70px
 }
 /* audio::-webkit-media-controls-panel {
     background:linear-gradient(13deg, rgba(217,217,217,1) 0%, rgba(161,161,161,1) 45%, rgba(233,233,233,1) 98%);
 
 } */
 

 
 audio::-webkit-media-controls-play-button{
    background:transparent;
     position:absolute;
     left:19%;
     top:10%;
     width:17%;
     height:40px;
     display:block;
 }
 audio::-webkit-media-controls-play-button:hover{
    background:#0e0e0e;

 }
 
 audio::-webkit-media-controls-current-time-display{
     color:#0e0e0e;
     position:absolute;
     left:45%;
     width:7%;
     top:55px;
     display:block;
 }
 
 audio::-webkit-media-controls-time-remaining-display{
     display:none;
 }
 
 audio::-webkit-media-controls-timeline{
      color:#0e0e0e;
     position:absolute;
     left:55%;
     width:40%;
     top:40px;
     display:block;
 }
 
 audio::-webkit-media-controls-volume-slider:nth-child(){
     color:#0e0e0e;
     position:absolute;
     left:15%;
     width:40%;
     top:40%;
     display:block;
 }
 audio::-webkit-media-controls-mute-button {
    background:transparent;
    color:#0e0e0e;
    background:transparent;
    position:absolute;
    left:17%;
    width:500%;
    top:25%;
    display:block;
    z-index:999999;
}
 audio::-webkit-media-controls-volume-slider{
      color:#0e0e0e;
  
     position:absolute;
     left:27%;
     width:160%;
     top:25%;
     display:block;
     z-index:9999999;
 }
 @media only screen and (max-width:925px){
    td a {
        font-size:1.5vw;
    }
 }
@media only screen and (max-width:640px){
    ul {
        left:0;
        top:300px;
        width:90%;
        padding:5%;
    }
    h2{
        width:90%;
        padding:0 5%;
    }
    body{
        padding-bottom: 250px;
    }
    table {
        left:0;
        top:350px;
        width:90%;
        padding:5%;
    }
    figure {
        top:-350px;
        width:90%;

    }
}
@media only screen and (max-width:375px){
    h2 {
        top:300px;
    }
    ul {
        left:0;
        top:300px;
    }
    ul::before {
        font-size:.45em;
    }
    body{
        padding-bottom: 300px;
    }
}