h2 {
    background: transparent url(https://cdn.shopify.com/s/files/1/0271/0355/9723/files/BigEdLogoBlack-600x200-transparent_2000x.png) no-repeat;
    padding-left:(width-of-image)px;
    color: transparent;
/*    height: 100px; */
}

a {
    color: #303059;
    text-decoration: none;
}

a:hover {
    color: white;
    transition-duration: 500ms;
}
body {
    background: #305213;
}