body {
    /* background-color: none..class{ */
    background-image: url("https://mewallpaper.com/thumbnail/games/8356-coding-background-free-photo-wallpaper.jpg");
    background-size: auto;
    /* background: #000065; */
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: "Helvetica";
}

h1 {
    background-color: black;
    border-style: double;
    border-width: 5px;
    border-color: blue;
    padding: 10px;
    color: white;
    text-align: center;
}

h2 {
    background-color: black;
    border-style: dotted;
    border-width: 5px;
    padding: 5px;
    text-align: center;
    color: lime;
}

h3 {
    background-color: gray;
    text-align: center;
}

table {
    background-color: green;
    display: flex;
    align-items: center;
    text-align: center;
}

ul {
    background-color: yellow;
    border-style: dashed;
    border-color: red;
    border-width: 30px;
    padding: 32px;
    text-align: center; 
    color: red;
}

p {
    color: white;
    text-align: center;
    font-family: futura;
    font-style: bold;
}

figure {
  background-color: blue;
  border-style: double;
  border-width: 5px;
  border-color: black;
}

span {
  background-color: teal;
  border-style: dotted;
  border-width: 3px;
}