*{
    margin:0;
    padding:0;
  }

 h1{   
    font-size:100%;
    font-weight:bolder;
    color: crimson;
    background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/6d20da2e-1f3c-47ce-bfd3-f34d5e2f0cac-profile_image-70x70.png") 80 80 repeat-x;

}

h2{   
    font-size:100%;
    font-weight:bolder;
    color: crimson; 
}

h3{   
    font-size:100%;
    font-weight:bolder;
    color: crimson; 
}

  p{
    font-size:100%;
    font-weight:normal;
  }
  
  ul,li{
    list-style:none;
  }
  a:hover {
    color: hotpink;
    text-shadow: 2px 2px #fcc84d;
    text-decoration: none;
}
  ul{
    overflow: auto;
    padding:3em;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:6em;
    width:6em;
    padding:1em;
  }
  ul li{
    margin:1em;
  }

  @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);


body {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  perspective: 8000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }


}