/* PASTEBIN =>  https://pastebin.com/DuSiuPEL */
body {
    background-color: #F1ECEB;
    color: #444157;
    text-align: center;
    font-family: 'Fira Code';
}

a {
    display: inline-block;
    text-decoration: none;
    color: #444157;
    border: 3px solid #444157;
    padding: 7px;
    border-radius: 30px;
    margin: 5px;
}

a:hover {
    background-color: #444157;
    color: #F1ECEB;
}

a:active {
    background-color: #F1ECEB;
    color: #444157;
}

.stylish_users, .users, .commands {
    border: 3px solid #444157;
    padding: 7px;
    border-radius: 30px;
    color: #444157;
    width: 50%;
    margin: 50px auto 20px auto;
}

.home h1 {
    border: 3px solid #444157;
    padding: 7px;
    border-radius: 30px;
    color: #444157;
    font-size: 75pt;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
 
h1 a {
    display: inline;
    text-decoration: none;
    border: 3px solid #444157;
    padding: 7px;
    border-radius: 30px;
    color: #444157;
    font-size: 75pt;
}
 
.user h1 {
    margin-top: 100px;
}

.user h2 {
    color: #F1ECEB;
    margin-top: 50px;
    font-size: 0pt;
}

.user h2::after {
    font-size: 50pt;
    color: #444157;
    display: block;
    content: 'DaaaaBot';
}
 
li a:hover, h1 a:hover {
    cursor: pointer;
    background-color: #444157;
    color: #F1ECEB;
    box-shadow: 0 5px 10px #666;
}
 
li a:active {
    transform: translateY(4px);
    color: #444157;
    background-color: #F1ECEB;
}
 
h3 {
    font-size: 25pt;
}
 
.user ul {
    text-align: left;
    width: 50%;
    margin: auto;
    margin-bottom: 10%;
}

.users ul {
    text-align: left;
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
}
 
li {
    text-align: left;
    display: inline-table;
    margin-top: 50px;
}
 
li a {
    display: inline;
    text-decoration: none;
    border: 3px solid #444157;
    padding: 7px;
    border-radius: 30px;
    color: #444157;
    text-align: left;
    font-size: 15pt;
}
 
 
ul ~ span{
    display: none;
}

.commands ~ ul li a, .commands ~ ul li {
    display: inline-block;
}

.commands ~ ul li {
    width: 500px;;
}

.commands ~ ul li a {
    display: inline-block;
    width: auto;
}