@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  background: #000;
  color: #ff0;
  font-size: .8em;
  font-family: 'Fira Code', monospace;
  text-align: center;
}
