body {
  margin: 0;
  background-color: black;
}

@keyframes star {
  0% {
    opacity: 0;
    transform: rotateX(-25deg) translateZ(-0.75em) translateY(2em)
      translateX(-2em);
  }
  35% {
    opacity: 1;
    transform: rotateX(-25deg) translateZ(-5em) translateY(2em) translateX(-2em);
  }
  100% {
    opacity: 0;
    transform: rotateX(-25deg) translateZ(4em) translateY(2em) translateX(-2em)
      scale(6);
  }
}

body:not(h1) {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

body ul:after {
  position: absolute;
  content: " ";
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

body h1 a {
  position: absolute;
  animation: star 10s ease-out infinite;
  color: yellow;
  top: 0px;
  left: 0px;
  font-size: 20rem;
}
body h1 a:after {
  content: "WARS";
}

h2,
h3 {
  position: relative;
  top: 0;
  text-align: right;
  font-size: 10rem;
  transform: rotateX(-25deg) translateZ(-0.75em) translateY(2em)
    translateX(-2em);
  height: 2em;
  width: 27em;
}
h2:after {
  content: " - twitch.tv/goldzulu";
}

ul li a {
  color: yellow;
  text-decoration: none;
  width: 100%;
}

ul {
  animation: scroll 100s linear infinite;
  position: absolute;
  top: 10%;
  z-index: 100;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
