@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
body {
  background-image: url("https://i.pinimg.com/originals/22/3c/17/223c1747e7bc9c1e5956d988e5329841.png");
  color: white;
  animation-name: background;
  animation-duration: 0.15s;
  animation-delay: 3s;
  animation-iteration-count: 4;
  background-repeat: repeat-x;
}

* {
  text-align: center;
  font-family: "Metal Mania", cursive;
}

h1 {
  padding-top: 25rem;
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

a {
  color: white;
}

ul {
  list-style: none;
  font-size: 30px;
}

*:hover {
  cursor: not-allowed;
}

@keyframes background {
  from {
    background-image: url("https://i.pinimg.com/originals/22/3c/17/223c1747e7bc9c1e5956d988e5329841.png");
    background-size: 1920px 1080px;
  }
  to {
    background-image: url("https://static-23.sinclairstoryline.com/resources/media/d60d4f1c-9fcc-4ae4-8058-05e885080e19-large16x9_momo2.PNG?1551379953599");
    background-size: 1920px 1080px;
  }
}

h1:hover {
  animation-name: flash;
  animation-duration: 1s;
  animation-delay: 0s;
}

audio {
  border-radius: 3px;
  border: #6c0202;
  border-style: solid;
}

table {
  list-style: none;
  display: flex;
}