@import url("https://fonts.googleapis.com/css2?family=Shojumaru&display=swap");
body {
  background-image: url("https://cdn.statically.io/img/wallpapercave.com/wp/wp2625452.png");
  background-size: 1920px;
  background-position: 0px -110px;
  color: black;
}

* {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Shojumaru", cursive;
}

ul {
  display: flex;
  padding-left: 3rem;
  padding-top: 3rem;
}

li {
  display: block;
  margin: 0;
  padding: 1rem 0.9rem 36px 20px;
  list-style: none;
  background-image: url("https://i.ya-webdesign.com/images/transparent-folders-logo-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  padding-left: 0.1rem;
  padding-top: 8rem;
  font-size: 1rem;
  margin-left: 5.9rem;
}