@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&family=Nova+Square&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  display: grid;
}

body h1 {
  display: inline-block;
  font-size: .5em;
  text-align: left;
  margin-top: 10px!important;
}

h1 a {
    text-decoration: none!important;
    border: 1px solid black;
    padding: 10px;
}

h1 a:before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f100\0020";
}

body h2:before {
  font-family: "FontAwesome"; font-weight: 900; content: "\f1d1";
}

body h2 {
  text-transform: uppercase;
  font-family: 'Nova Square', cursive;
  font-size: 72px;
  letter-spacing: .15em;
  color: white;
  text-shadow: 0px 0px 6px black;
  margin: auto;
  display: block;
  position: relative;
}

h2 {
    background-image: linear-gradient(to right, rgba(255,0,0,0.7105217086834734) 0%, rgba(255,186,0,0.6881127450980392) 20%,  rgba(247,255,0,0.7105217086834734) 40%, rgba(89,255,0,0.6881127450980392) 60%,  rgba(0,41,255,0.7105217086834734) 80%, rgba(250,0,255,0.6881127450980392) 100%);
     border-radius: 5px;
     text-align: center;
     padding: 10px 40px;
}

h2::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: -0%;
  height: 105%;
  width: 100%;
  opacity: 0.96;
  border-radius: 5px;
  background-image: linear-gradient(to left, rgba(255,0,0,0.7105217086834734) 0%, rgba(255,186,0,0.6881127450980392) 20%,  rgba(247,255,0,0.7105217086834734) 40%, rgba(89,255,0,0.6881127450980392) 60%,  rgba(0,41,255,0.7105217086834734) 80%, rgba(250,0,255,0.6881127450980392) 100%);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}

h3 {
  font-size: .75em;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  background-color: black;
}

ul {
  margin: auto;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  margin: auto;
  width: 100%;
  display: block;
  background-size: 200% auto;
  transition: .7s;
  border-style: dashed;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgba(255,0,0,0.7105217086834734) rgba(250,0,255,0.6881127450980392) rgba(255,186,0,0.6881127450980392) rgba(89,255,0,0.6881127450980392);
}

li a {
  font-size: .7em;
  padding: .5em;
  display: block;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  color: white;
  text-shadow: 0 0 3px black;
}

body span, body code {
  display: none;
}

li:nth-child(3n+1) {
  background-image: linear-gradient(to right, rgba(255,0,0,0.7105217086834734) 0%, rgba(255,186,0,0.6881127450980392), rgba(255,0,0,0.7105217086834734) 100%);
}

li:nth-child(3n+2) {
background-image: linear-gradient(to right, rgba(247,255,0,0.7105217086834734) 0%, rgba(89,255,0,0.6881127450980392) 51%, rgba(247,255,0,0.7105217086834734) 100%);}

li:nth-child(3n+3) {
  background-image: linear-gradient(to right, rgba(0,41,255,0.7105217086834734) 0%,rgba(250,0,255,0.6881127450980392) 51%, rgba(0,41,255,0.7105217086834734) 100%);
}

li:hover {
    background-position: right center;
}

li {
  position: relative;
}

li:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: -0%;
  height: 105%;
  width: 100%;
  opacity: 0.96;
  border-radius: 5px;
  background: inherit;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}