<!DOCTYPE HTML>
	<head>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
    <!--OLD CODE<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58643-34"></script>-->

    <!--OLD CODE<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58643-34');
    </script>-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5VVPHVN');</script>
    <!-- End Google Tag Manager -->

    

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>:root {  	--delay: 0;  	--duration: 800ms;  	--iterations: 1;  }      @font-face - Pastebin.com</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/pastebin.min.v3.js"></script>
            
            
		<link href="/i/pastebin.min.v9.css?1588178291" rel="stylesheet" type="text/css" />
		<!--[if lt IE 10]>
			<link href="/i/pastebin.ie8.css" rel="stylesheet" type="text/css" />
		<![endif]-->


			<link href="/cache/css_lang/text.css" rel="stylesheet" type="text/css" /> 
		<style>body{-webkit-text-size-adjust:none;}</style>
				<meta property="fb:app_id" content="231493360234820" />
		<meta property="og:title" content=":root {  	--delay: 0;  	--duration: 800ms;  	--iterations: 1;  }      @font-face - Pastebin.com" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="https://pastebin.com/t4q8V0zZ" />
		<meta property="og:image" content="https://pastebin.com/i/facebook.png" />
		<meta property="og:site_name" content="Pastebin" />
		<meta name="google-site-verification" content="jkUAIOE8owUXu8UXIhRLB9oHJsWBfOgJbZzncqHoF4A" />
		<link rel="canonical" href="https://pastebin.com/t4q8V0zZ" />
				<meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=1.0, user-scalable=yes">
		<script type="text/javascript">
			if (top != self)
				top.location.href = location.href;
		</script>

                                <!--<script type="text/javascript" src="https://cdn.bidder.dev/clients/StreamAMP/pastebin/sa-script.js"></script>-->
                            <!-- Amazon Tag Manager -->
            <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  googletag.cmd.push(function() {
    googletag.defineSlot('/21892923737/pb_header_728x90', [728, 90], 'div-gpt-ad-1591274351885-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().disableInitialLoad();
    googletag.enableServices();
  });
</script>
<script type='text/javascript'>
  !function(a9,a,p,s,t,A,g){if(a[a9])return;function q(c,r){a[a9]._Q.push([c,r])}a[a9]={init:function(){q("i",arguments)},fetchBids:function(){q("f",arguments)},setDisplayBids:function(){},targetingKeys:function(){return[]},_Q:[]};A=p.createElement(s);A.async=!0;A.src=t;g=p.getElementsByTagName(s)[0];g.parentNode.insertBefore(A,g)}("apstag",window,document,"script","//c.amazon-adsystem.com/aax2/apstag.js");

  // initialize apstag and have apstag set bids on the googletag slots when they are returned to the page
  apstag.init({
    pubID: 'fcfacf81-21b4-42d5-b3bd-672af22fe303',
    adServer: 'googletag',
    bidTimeout: 2e3
  });
  // request the bids for the four googletag slots
  apstag.fetchBids({
    slots: [
      {
        slotID: 'div-gpt-ad-1591274351885-0', //example: div-gpt-ad-1475102693815-0
        slotName: '/21892923737/pb_header_728x90', //example: //example: /116082170/slot2
        sizes: [[728, 90]] //example: [[300,250],[300, 600]]
      },
      // {
      //   slotID: 'enter your slotID',
      //   slotName: 'enter your DFP ad unit path',
      //   sizes: [[width, height], [width, height]]
      // }
    ]
  }, function (bids) {
    // set apstag bids, then trigger the first request to DFP
    googletag.cmd.push(function () {
      apstag.setDisplayBids();
      googletag.pubads().refresh();
    });
  });
</script>            </head>
	<body>

            <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VVPHVN"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    
	<div id="main_frame">
		<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-anchor-right jq-dropdown-scroll">
			<ul class="jq-dropdown-menu">
				
				<li onclick="location.href='/signup'" class="dd_su">Sign Up</li>
				<li onclick="location.href='/login'" class="dd_lo">Login</li>
				<li class="lih_div"></li>
				<li onclick="location.href='/api'" class="lih_640">API</li>
				<li onclick="location.href='/faq'" class="lih_640">FAQ</li>
				<li onclick="location.href='/tools'" class="lih_640">Tools</li>
				<li onclick="location.href='/archive'" class="lih_640">Archive</li>			</ul>
		</div>
		<div id="header">
			<div id="header_wrap">
				<div id="header_top">
					<div id="header_logo" onclick="location.href='/'">PASTEBIN</div>
                    <div id="header_links">
                                                    <a href="/pro" class="mmh">GO <img src="/i/t.gif" alt="" class="header_pro_btn"></a>
                        
                        <a href="/api" class="mmh">API</a>
                        <a href="/tools" class="mmh">TOOLS</a>
                        <a href="/faq" class="mmh">FAQ</a>
                        <a href="https://deals.pastebin.com" target="_blank" class="mmh">DEALS</a>
                    </div>
                    <!--
                    <div id="header_search">
                        <form class="search_form" name="search_form" method="get" action="/search" id="cse-search-box">
                            <input class="search_input" type="text" name="q" size="5" value="" placeholder="Search..." />
                        </form>
                    </div>
                    -->
                    <div id="header_new_paste" class="new_paste_button" onclick="location.href='/'">paste</div>
                    
			<div class="header_sign">
				<a href="/login" class="btn-sign sign-in">SIGN IN</a>
				<a href="/signup" class="btn-sign sign-up">SIGN UP</a>
			</div>				</div>
			</div>
		</div>
		<div id="super_frame">
			<div id="monster_frame">
				<div id="content_frame">
					<div id="content_right">						

	<div class="content_right_menu">
									<div class="content_right_title"><a href="/archive">Public Pastes</a></div>
									<div id="menu_2">
										<ul class="right_menu"><li><a href="/83HzjWR2">Untitled</a><span>C# | 13 min ago</span></li><li><a href="/gA1mthPr">Untitled</a><span>C | 23 min ago</span></li><li><a href="/qQgWChi0">Untitled</a><span>C++ | 24 min ago</span></li><li><a href="/drPau77h">Transport</a><span>Java | 39 min ago</span></li><li><a href="/SJt6EDqu">Vegetables</a><span>Java | 47 min ago</span></li><li><a href="/8WKMNzQu">flipCoin</a><span>JavaScript | 48 min ago</span></li><li><a href="/7VZnVBvC">Untitled</a><span>C# | 51 min ago</span></li><li><a href="/7gE3ekQa">07. Cinema Tickets</a><span>Java | 54 min ago</span></li></ul></div></div>	<div id="abrpm2"></div>
	<div style="padding: 0; width:160px;margin: 10px 0;clear:left;text-align: center;">
   <a href="https://shop.ledger.com/pages/ledger-nano-x?r=e857cc99b099"><img width=160 height=600 alt="Ledger Nano X - The secure hardware wallet" src="https://www.ledgerwallet.com/images/promo/banners/ledger_banner_1-6-0x6-0-0.jpg"></a>
</div>
<div id="steadfast" title="Pastebin is proudly hosted by Steadfast.net" onclick="location.href='http://steadfast.net/?utm_source=pastebin.com&amp;utm_medium=referral&amp;utm_content=hosting_by_banner&amp;utm_campaign=referral_20140118_x_x_pastebin_partner&amp;source=referral_20140118_x_x_pastebin_partner'"></div>
	</div>
	<div id="content_left"><div id="ie_msg"></div>
					
		
	<div class="paste_box_frame">
		<div class="tweet h_800">
			<div onclick="facebookpopup('/t4q8V0zZ'); return false;" id="b_facebook2" title="Share on Facebook!"><span id="b_facebook">SHARE</span></div>
			<div onclick="twitpopup('/t4q8V0zZ'); return false;" id="b_twitter2" title="Share on Twitter!"><span id="b_twitter">TWEET</span></div>
		</div>
		<div class="paste_box_icon">
			<img src="/i/t.gif" class="i_gb" title="Anonymous guest user" alt="" />
		</div>
		<div class="paste_box_info">
			<div class="paste_box_line1" title="Untitled"><h1>Untitled</h1></div>
			<div class="paste_box_line2">
				<img src="/i/t.gif" class="img_line t_us" alt="" style="margin-left:0"> a guest 
				<img src="/i/t.gif" class="img_line t_da" alt=""> <span title="Sunday 7th of June 2020 03:20:58 PM CDT">Jun 7th, 2020</span>
				<img src="/i/t.gif" class="img_line t_vi" alt="" title="Unique visits to this paste"> 1
				<img src="/i/t.gif" class="img_line t_ex" alt="" title="When this paste gets automatically deleted"> Never
			</div>
		</div>
	</div>
	
			<div class="banner_728" id="banner_728">
			    <div id="div-gpt-ad-1591274351885-0">
                    <script>
                      googletag.cmd.push(function() { googletag.display("div-gpt-ad-1591274351885-0"); });
                    </script>
                </div>
			</div>
			<div class="layout_clear"></div>
			<div class="content_text no_padding">
				<div id="notice" style="margin: 0 0 10px 0">
					<b>Not a member of Pastebin yet?</b> <a href="/signup"><b><u>Sign Up</u></b></a>, it unlocks many cool features!
				</div>
			</div>
	<div id="code_frame2">
		<div id="code_frame">
			<div id="code_buttons">
				<span class="go_right">
					<a href="/raw/t4q8V0zZ" class="buttonsm">raw</a><a href="/dl/t4q8V0zZ" class="buttonsm">download</a><a href="/index/t4q8V0zZ" class="buttonsm buttonhide">clone</a><a href="/embed/t4q8V0zZ" class="buttonsm buttonhide">embed</a><a href="/report/t4q8V0zZ" class="buttonsm">report</a><a href="/print/t4q8V0zZ" class="buttonsm buttonhide">print</a>
				</span>
				<span class="h_640"><a href="/archive/text" class="buttonsm" style="margin:0">text</a></span> 3.57 KB
			</div>
			<div id="selectable">
				<ol class="text"><li class="li1"><div class="de1">:root {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; --delay: 0;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; --duration: 800ms;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; --iterations: 1;</div></li>
<li class="li2"><div class="de2">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">@font-face {</div></li>
<li class="li1"><div class="de1">&nbsp; font-family: neon;</div></li>
<li class="li2"><div class="de2">&nbsp; src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">a {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; text-decoration: none;</div></li>
<li class="li2"><div class="de2">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">h1,</div></li>
<li class="li1"><div class="de1">h1::after {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; -webkit-animation-delay: var(--animation-delay, 2s);</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; animation-delay: var(--animation-delay, 2s);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; -webkit-animation-iteration-count: var(--iterations, 1);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; animation-iteration-count: var(--iterations, 1);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; -webkit-animation-duration: var(--duration, 800ms);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; animation-duration: var(--duration, 800ms);</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; -webkit-animation-fill-mode: both;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; animation-fill-mode: both;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; -webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li2"><div class="de2">&nbsp;</div></li>
<li class="li1"><div class="de1">h1 {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; --animation-delay: var(--delay, 0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; --animation-duration: var(--duration, 800ms);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; --animation-iterations: var(--iterations, 1);</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; position: relative;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; -webkit-animation-name: clip-text;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; animation-name: clip-text;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; color: #FFF;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; cursor: default;</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; font-family: neon;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; color: #426DFB;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; text-shadow: 0 0 3vw #2356FF;</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li2"><div class="de2">h1::after {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; content: &quot;&quot;;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; position: absolute;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; z-index: 999;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; top: 0;</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; &nbsp; &nbsp; left: 0;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; right: 0;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; bottom: 0;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; background-color: #426DFB;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-transform: scaleX(0);</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; transform: scaleX(0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-transform-origin: 0 50%;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; transform-origin: 0 50%;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; pointer-events: none;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-animation-name: text-revealer;</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; animation-name: text-revealer;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; }</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">@-webkit-keyframes clip-text {</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; from {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-clip-path: inset(0 100% 0 0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; clip-path: inset(0 100% 0 0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; }</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; to {</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-clip-path: inset(0 0 0 0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; clip-path: inset(0 0 0 0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; }</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li2"><div class="de2">&nbsp;</div></li>
<li class="li1"><div class="de1">@keyframes clip-text {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; from {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-clip-path: inset(0 100% 0 0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; clip-path: inset(0 100% 0 0);</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; }</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; to {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-clip-path: inset(0 0 0 0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; clip-path: inset(0 0 0 0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; }</div></li>
<li class="li2"><div class="de2">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">@-webkit-keyframes text-revealer {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; </div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; 0%, 50% {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-transform-origin: 0 50%;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; transform-origin: 0 50%;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; }</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; </div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; 60%, 100% {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-transform-origin: 100% 50%;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; transform-origin: 100% 50%; &nbsp; &nbsp; </div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; }</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; </div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; 60% {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-transform: scaleX(1);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; transform: scaleX(1);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; }</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; </div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; 100% {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; -webkit-transform: scaleX(0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; transform: scaleX(0);</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; }</div></li>
<li class="li2"><div class="de2">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">h2 {</div></li>
<li class="li1"><div class="de1">&nbsp; font-family: neon;</div></li>
<li class="li1"><div class="de1">&nbsp; color: #FB4264;</div></li>
<li class="li2"><div class="de2">&nbsp; font-size: 9vw;</div></li>
<li class="li1"><div class="de1">&nbsp; line-height: 9vw;</div></li>
<li class="li1"><div class="de1">&nbsp; text-shadow: 0 0 3vw #F40A35;</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li2"><div class="de2">h2 {</div></li>
<li class="li1"><div class="de1">&nbsp; animation: neon 1s ease infinite;</div></li>
<li class="li1"><div class="de1">&nbsp; -moz-animation: neon 1s ease infinite;</div></li>
<li class="li1"><div class="de1">&nbsp; -webkit-animation: neon 1s ease infinite;</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li2"><div class="de2">&nbsp;</div></li>
<li class="li1"><div class="de1">@keyframes neon {</div></li>
<li class="li1"><div class="de1">&nbsp; 0%,</div></li>
<li class="li1"><div class="de1">&nbsp; 100% {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; color: #FED128;</div></li>
<li class="li1"><div class="de1">&nbsp; }</div></li>
<li class="li1"><div class="de1">&nbsp; 50% {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; color: #806914;</div></li>
<li class="li2"><div class="de2">&nbsp; }</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">@keyframes flux {</div></li>
<li class="li2"><div class="de2">&nbsp; 0%,</div></li>
<li class="li1"><div class="de1">&nbsp; 100% {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; color: #28D7FE;</div></li>
<li class="li1"><div class="de1">&nbsp; }</div></li>
<li class="li2"><div class="de2">&nbsp; 50% {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; color: #146C80;</div></li>
<li class="li1"><div class="de1">&nbsp; }</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li2"><div class="de2">&nbsp;</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">body {</div></li>
<li class="li1"><div class="de1">&nbsp; background-color: black;</div></li>
<li class="li1"><div class="de1">&nbsp; height: 100vh;</div></li>
<li class="li2"><div class="de2">&nbsp; text-align: center;</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">ul {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; list-style-image: url('https://static-cdn.jtvnw.net/emoticons/v1/301751641/2.0');</div></li>
<li class="li2"><div class="de2">&nbsp; &nbsp; margin-left: 2rem;</div></li>
<li class="li1"><div class="de1">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">li &gt; a {</div></li>
<li class="li1"><div class="de1">&nbsp; &nbsp; color: white;</div></li>
<li class="li2"><div class="de2">}</div></li>
<li class="li1"><div class="de1">&nbsp;</div></li>
<li class="li1"><div class="de1">&lt;script&gt;alert('Injection works? :D');&lt;/script&gt;</div></li>
</ol>
			</div>
		</div>
	</div>
	<div class="content_title no_border">RAW Paste Data<div id="bsa-footer"></div></div>
	<div class="textarea_border" style="margin-bottom:0">
		<textarea id="paste_code" class="paste_code" name="paste_code" onkeydown="return catchTab(this,event)">:root {
	--delay: 0;
	--duration: 800ms;
	--iterations: 1;
}


@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

a {
	text-decoration: none;
}

h1,
h1::after {
	-webkit-animation-delay: var(--animation-delay, 2s);
	        animation-delay: var(--animation-delay, 2s);
	-webkit-animation-iteration-count: var(--iterations, 1);
	        animation-iteration-count: var(--iterations, 1);
	-webkit-animation-duration: var(--duration, 800ms);
	        animation-duration: var(--duration, 800ms);
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

h1 {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	-webkit-animation-name: clip-text;
	        animation-name: clip-text;
	color: #FFF;
	cursor: default;
    font-family: neon;
    color: #426DFB;
    text-shadow: 0 0 3vw #2356FF;
}

h1::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #426DFB;
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
		-webkit-transform-origin: 0 50%;
		        transform-origin: 0 50%;
		pointer-events: none;
		-webkit-animation-name: text-revealer;
		        animation-name: text-revealer;
	}


@-webkit-keyframes clip-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}


@keyframes clip-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}


@-webkit-keyframes text-revealer {
	
	0%, 50% {
		-webkit-transform-origin: 0 50%;
		        transform-origin: 0 50%;
	}
	
	60%, 100% {
		-webkit-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;		
	}

	
	60% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
	
	100% {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
}

h2 {
  font-family: neon;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

h2 {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}


@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}


body {
  background-color: black;
  height: 100vh;
  text-align: center;
}

ul {
    list-style-image: url('https://static-cdn.jtvnw.net/emoticons/v1/301751641/2.0');
    margin-left: 2rem;
}

li &gt; a {
    color: white;
}

&lt;script&gt;alert('Injection works? :D');&lt;/script&gt;</textarea>
	</div><div id="abrpm3"></div>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".close1").click(function(){return $("#float-box-1").hide(),createCookie("l2c_1",!0,90),!1});
		$(".cookie_button").click(function(){return $("#float-box-1").hide(),createCookie("l2c_1",!0,90),!1});		
		$(".close2").click(function(){return $("#float-box-2").hide(),createCookie("l2c_2",!0,14),!1});
		$(".close3").click(function(){return $("#float-box-3").hide(),createCookie("l2c_2",!0,14),!1});
		$(".close4").click(function(){return $("#float-box-4").hide(),createCookie("l2c_4",!0,7),!1});
	});	
	</script>
	<div id="float-box-frame">		
		<div id="float-box-1">
			We use cookies for various purposes including analytics. By continuing to use Pastebin, you agree to our use of cookies as described in the <a href="/doc_cookies_policy">Cookies Policy</a>. <span class="cookie_button">OK, I Understand</span>
		</div></div>						</div>
					</div>
				</div>
			</div>
			<div id="mid_footer">
				<a href="/tools#chrome" title="Google Chrome Extension"><img src="/i/t.gif" alt="" class="icon24 chrome" /></a>
				<a href="/tools#firefox" title="Firefox Extension"><img src="/i/t.gif" alt="" class="icon24 firefox" /></a>
				<a href="/tools#iphone" title="iPhone/iPad Application"><img src="/i/t.gif" alt="" class="icon24 iphone" /></a>
				<a href="/tools#windows" title="Windows Desktop Application"><img src="/i/t.gif" alt="" class="icon24 windows" /></a>
				<a href="/tools#android" title="Android Application"><img src="/i/t.gif" alt="" class="icon24 android" /></a>
				<a href="/tools#macos" title="MacOS X Widget"><img src="/i/t.gif" alt="" class="icon24 macos" /></a>
				<a href="/tools#opera" title="Opera Extension"><img src="/i/t.gif" alt="" class="icon24 opera" /></a>
				<a href="/tools#pastebincl" title="Linux Application"><img src="/i/t.gif" alt="" class="icon24 unix" /></a>
			</div> 
		</div>
		<div id="footer">
			<div id="footer_links">
				<a href="/">create new paste</a> &nbsp;/&nbsp; 
				<a href="https://deals.pastebin.com">deals</a><sup style="color:red">new!</sup> &nbsp;/&nbsp; 
				<a href="/languages">syntax languages</a> &nbsp;/&nbsp; 
				<a href="/archive">archive</a> &nbsp;/&nbsp; 
				<a href="/faq">faq</a> &nbsp;/&nbsp; 
				<a href="/tools">tools</a> &nbsp;/&nbsp; 
				<a href="/night_mode">night mode</a> &nbsp;/&nbsp;
                <a href="/api">api</a>&nbsp;/&nbsp;
                <a href="/doc_scraping_api">scraping api</a>

				<br />
				<a href="/doc_privacy_statement">privacy statement</a> &nbsp;/&nbsp; 
				<a href="/doc_cookies_policy">cookies policy</a> &nbsp;/&nbsp; 
				<a href="/doc_terms_of_service">terms of service</a> &nbsp;/&nbsp; 
				<a href="/doc_security_disclosure">security disclosure</a> &nbsp;/&nbsp; 
				<a href="/dmca">dmca</a> &nbsp;/&nbsp; 
				<a href="/contact">contact</a>
				<br /><br />
				<span class="h_800">
					By using Pastebin.com you agree to our <a href="/doc_cookies_policy">cookies policy</a> to enhance your experience.
					<br />
					Site design &amp; logo &copy; 2020 Pastebin; user contributions (pastes) licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank" rel="nofollow">cc by-sa 3.0</a>
				</span>
				<a href="http://steadfast.net/services/dedicated-servers.php?utm_source=pastebin.com&amp;utm_medium=referral&amp;utm_content=footer_link_dedicated_server_hosting_by&amp;utm_campaign=referral_20140118_x_x_pastebin_partner&amp;source=referral_20140118_x_x_pastebin_partner" rel="nofollow" target="_blank">Dedicated Server Hosting</a> by <a href="http://steadfast.net/?utm_source=pastebin.com&amp;utm_medium=referral&amp;utm_content=footer_link_steadfast&amp;utm_campaign=referral_20140118_x_x_pastebin_partner&amp;source=referral_20140118_x_x_pastebin_partner" rel="nofollow" target="_blank">Steadfast</a>
			</div>
			<div id="footer_right" class="h_1024">
			
				<a href="https://facebook.com/pastebin" rel="nofollow" title="Like us on Facebook" target="_blank"><img src="/i/t.gif" alt="" class="icon40 facebook_circle" /></a>
				<a href="https://twitter.com/pastebin" rel="nofollow" title="Follow us on Twitter" target="_blank"><img src="/i/t.gif" alt="" class="icon40 twitter_circle" /></a>
							</div>
		</div>
		<script type="text/javascript">
			function isIE(){var e=navigator.userAgent.toLowerCase();return-1!=e.indexOf("msie")?parseInt(e.split("msie")[1]):!1}if(isIE()&&isIE()<10){var div=document.getElementById("ie_msg");div.innerHTML=div.innerHTML+'<div id="old_browser">Your browser is outdated and insecure! Pastebin does not offer support for your browser. <a href="http://outdatedbrowser.com/" target="_blank" rel="nofollow">Click here to update your browser</a>!</div>'}
		</script>
		<div class="pub_300x250"></div><a href="#0" class="cd-top">Top</a>



	</body>
</html>