:root {
    --delay: 5;
    --duration: 800ms;
    --iterations: 3;
}

html {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif");
}


@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

a {
    text-decoration: none;
        color: white;
}

h1,
h1::after {
    -webkit-animation-delay: var(--animation-delay, 2s);
            animation-delay: var(--animation-delay, 2s);
    -webkit-animation-iteration-count: var(--iterations, 1);
            animation-iteration-count: var(--iterations, 1);
    -webkit-animation-duration: var(--duration, 800ms);
            animation-duration: var(--duration, 800ms);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
            animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

h1 {
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    -webkit-animation-name: clip-text;
            animation-name: clip-text;
    color: #FFF;
    cursor: default;
    font-family: neon;
    color: #426DFB;
}

h1::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #426DFB;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
        pointer-events: none;
        -webkit-animation-name: text-revealer;
                animation-name: text-revealer;
    }


@-webkit-keyframes clip-text {
    from {
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }
    to {
        -webkit-clip-path: inset(0 0 0 0);
                clip-path: inset(0 0 0 0);
    }
}


@keyframes clip-text {
    from {
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }
    to {
        -webkit-clip-path: inset(0 0 0 0);
                clip-path: inset(0 0 0 0);
    }
}


@-webkit-keyframes text-revealer {

    0%, 50% {
        -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
    }

    60%, 100% {
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
    }


    60% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }

    100% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    }
}

h2 {
  font-family: neon;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

h2 {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}


@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}


body {
  text-align: center;
  background: none;
}

h3 {
  font-family: neon;
  color: #426DFB;
}

ul {
    list-style-image: url('https://static-cdn.jtvnw.net/emoticons/v1/301751641/2.0');
    margin-left: 2rem;
}

li {
   float: left;
   margin-left: 5%;
}