
h1{
	color:#e0e0e0;
}

@-moz-keyframes body {
  0% {
    -moz-transform: skew(-55deg);
    transform: skew(-55deg);
  }
  5% {
    -moz-transform: skew(-52deg);
    transform: skew(-52deg);
  }
  10% {
    -moz-transform: skew(72deg);
    transform: skew(72deg);
  }
  15% {
    -moz-transform: skew(39deg);
    transform: skew(39deg);
  }
  20% {
    -moz-transform: skew(11deg);
    transform: skew(11deg);
  }
  25% {
    -moz-transform: skew(19deg);
    transform: skew(19deg);
  }
  30% {
    -moz-transform: skew(62deg);
    transform: skew(62deg);
  }
  35% {
    -moz-transform: skew(-63deg);
    transform: skew(-63deg);
  }
  40% {
    -moz-transform: skew(-61deg);
    transform: skew(-61deg);
  }
  45% {
    -moz-transform: skew(-74deg);
    transform: skew(-74deg);
  }
  50% {
    -moz-transform: skew(-53deg);
    transform: skew(-53deg);
  }
  55% {
    -moz-transform: skew(50deg);
    transform: skew(50deg);
  }
  60% {
    -moz-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  65% {
    -moz-transform: skew(71deg);
    transform: skew(71deg);
  }
  70% {
    -moz-transform: skew(-65deg);
    transform: skew(-65deg);
  }
  75% {
    -moz-transform: skew(-47deg);
    transform: skew(-47deg);
  }
  80% {
    -moz-transform: skew(22deg);
    transform: skew(22deg);
  }
  85% {
    -moz-transform: skew(39deg);
    transform: skew(39deg);
  }
  90% {
    -moz-transform: skew(-42deg);
    transform: skew(-42deg);
  }
  95% {
    -moz-transform: skew(85deg);
    transform: skew(85deg);
  }
}
@-webkit-keyframes body {
  0% {
    -webkit-transform: skew(-73deg);
    transform: skew(-73deg);
  }
  5% {
    -webkit-transform: skew(-46deg);
    transform: skew(-46deg);
  }
  10% {
    -webkit-transform: skew(53deg);
    transform: skew(53deg);
  }
  15% {
    -webkit-transform: skew(41deg);
    transform: skew(41deg);
  }
  20% {
    -webkit-transform: skew(18deg);
    transform: skew(18deg);
  }
  25% {
    -webkit-transform: skew(63deg);
    transform: skew(63deg);
  }
  30% {
    -webkit-transform: skew(13deg);
    transform: skew(13deg);
  }
  35% {
    -webkit-transform: skew(-47deg);
    transform: skew(-47deg);
  }
  40% {
    -webkit-transform: skew(-28deg);
    transform: skew(-28deg);
  }
  45% {
    -webkit-transform: skew(-26deg);
    transform: skew(-26deg);
  }
  50% {
    -webkit-transform: skew(-49deg);
    transform: skew(-49deg);
  }
  55% {
    -webkit-transform: skew(-75deg);
    transform: skew(-75deg);
  }
  60% {
    -webkit-transform: skew(-1deg);
    transform: skew(-1deg);
  }
  65% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  70% {
    -webkit-transform: skew(-47deg);
    transform: skew(-47deg);
  }
  75% {
    -webkit-transform: skew(5deg);
    transform: skew(5deg);
  }
  80% {
    -webkit-transform: skew(-63deg);
    transform: skew(-63deg);
  }
  85% {
    -webkit-transform: skew(18deg);
    transform: skew(18deg);
  }
  90% {
    -webkit-transform: skew(11deg);
    transform: skew(11deg);
  }
  95% {
    -webkit-transform: skew(-31deg);
    transform: skew(-31deg);
  }
}
@keyframes body {
  0% {
    -moz-transform: skew(-4deg);
    -ms-transform: skew(-4deg);
    -webkit-transform: skew(-4deg);
    transform: skew(-4deg);
  }
  5% {
    -moz-transform: skew(39deg);
    -ms-transform: skew(39deg);
    -webkit-transform: skew(39deg);
    transform: skew(39deg);
  }
  10% {
    -moz-transform: skew(-53deg);
    -ms-transform: skew(-53deg);
    -webkit-transform: skew(-53deg);
    transform: skew(-53deg);
  }
  15% {
    -moz-transform: skew(-34deg);
    -ms-transform: skew(-34deg);
    -webkit-transform: skew(-34deg);
    transform: skew(-34deg);
  }
  20% {
    -moz-transform: skew(6deg);
    -ms-transform: skew(6deg);
    -webkit-transform: skew(6deg);
    transform: skew(6deg);
  }
  25% {
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
  }
  30% {
    -moz-transform: skew(40deg);
    -ms-transform: skew(40deg);
    -webkit-transform: skew(40deg);
    transform: skew(40deg);
  }
  35% {
    -moz-transform: skew(53deg);
    -ms-transform: skew(53deg);
    -webkit-transform: skew(53deg);
    transform: skew(53deg);
  }
  40% {
    -moz-transform: skew(-74deg);
    -ms-transform: skew(-74deg);
    -webkit-transform: skew(-74deg);
    transform: skew(-74deg);
  }
  45% {
    -moz-transform: skew(40deg);
    -ms-transform: skew(40deg);
    -webkit-transform: skew(40deg);
    transform: skew(40deg);
  }
  50% {
    -moz-transform: skew(-57deg);
    -ms-transform: skew(-57deg);
    -webkit-transform: skew(-57deg);
    transform: skew(-57deg);
  }
  55% {
    -moz-transform: skew(-88deg);
    -ms-transform: skew(-88deg);
    -webkit-transform: skew(-88deg);
    transform: skew(-88deg);
  }
  60% {
    -moz-transform: skew(19deg);
    -ms-transform: skew(19deg);
    -webkit-transform: skew(19deg);
    transform: skew(19deg);
  }
  65% {
    -moz-transform: skew(34deg);
    -ms-transform: skew(34deg);
    -webkit-transform: skew(34deg);
    transform: skew(34deg);
  }
  70% {
    -moz-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    -webkit-transform: skew(-7deg);
    transform: skew(-7deg);
  }
  75% {
    -moz-transform: skew(-79deg);
    -ms-transform: skew(-79deg);
    -webkit-transform: skew(-79deg);
    transform: skew(-79deg);
  }
  80% {
    -moz-transform: skew(-59deg);
    -ms-transform: skew(-59deg);
    -webkit-transform: skew(-59deg);
    transform: skew(-59deg);
  }
  85% {
    -moz-transform: skew(52deg);
    -ms-transform: skew(52deg);
    -webkit-transform: skew(52deg);
    transform: skew(52deg);
  }
  90% {
    -moz-transform: skew(-84deg);
    -ms-transform: skew(-84deg);
    -webkit-transform: skew(-84deg);
    transform: skew(-84deg);
  }
  95% {
    -moz-transform: skew(1deg);
    -ms-transform: skew(1deg);
    -webkit-transform: skew(1deg);
    transform: skew(1deg);
  }
}
@-moz-keyframes noise {
  0% {
    background-position: -25px 40px;
  }
  10% {
    background-position: -40px -44px;
  }
  20% {
    background-position: -57px -84px;
  }
  30% {
    background-position: 16px -12px;
  }
  40% {
    background-position: 66px 58px;
  }
  50% {
    background-position: 97px 44px;
  }
  60% {
    background-position: -17px -19px;
  }
  70% {
    background-position: 94px 34px;
  }
  80% {
    background-position: -57px 6px;
  }
  90% {
    background-position: 57px -27px;
  }
}
@-webkit-keyframes noise {
  0% {
    background-position: -15px 3px;
  }
  10% {
    background-position: -40px -65px;
  }
  20% {
    background-position: -80px -90px;
  }
  30% {
    background-position: -6px -51px;
  }
  40% {
    background-position: -29px 96px;
  }
  50% {
    background-position: 60px -84px;
  }
  60% {
    background-position: 58px -87px;
  }
  70% {
    background-position: 61px 32px;
  }
  80% {
    background-position: 72px -93px;
  }
  90% {
    background-position: 34px 58px;
  }
}
@keyframes noise {
  0% {
    background-position: 69px 38px;
  }
  10% {
    background-position: 70px -77px;
  }
  20% {
    background-position: -78px -82px;
  }
  30% {
    background-position: 85px 0px;
  }
  40% {
    background-position: 26px -11px;
  }
  50% {
    background-position: -58px 8px;
  }
  60% {
    background-position: -22px 22px;
  }
  70% {
    background-position: 35px 33px;
  }
  80% {
    background-position: 57px -40px;
  }
  90% {
    background-position: 12px -10px;
  }
}



a{

	color: #d4d4d4;
	font-size: 1.5em;
}
ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  
  display: inline-block;
  font-size: .8em;
  margin: 12px;
  margin-right: 0px;
  margin-left: 0;
  margin-bottom: 0;
}

h2 {

	  animation-name: blurrr,stretch;
	  animation-duration: 1s; 
	  animation-timing-function: cubic-bezier(1.000, 3.000, 0.000, 1.000); 
	  animation-delay: 0.5s;
	  animation-direction: alternate;
	  animation-iteration-count: infinite;
	  animation-fill-mode: none;
	  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.5);
    background-color: 	mistyrose;

    border-radius: 100%;
  }
  50% {
    background-color: 	mistyrose;
  }
  100% {
    transform: scale(4);
    
  }
}

@-webkit-keyframes blurrr {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes blurrr {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}



 body {
overflow-x: hidden;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font: 20px "Michroma", helvetica, sans;
  letter-spacing: 0.6em;
  background: repeating-linear-gradient(
  45deg,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2) 10px,
  rgba(0, 0, 0, 0.3) 10px,
  rgba(0, 0, 0, 0.3) 20px
   );
  background-color: 	mistyrose;
  background-size: cover;
  text-shadow: 2px 0 1px #f6050a, -2px 0 1px #1cf2f2;
  
}

 body:before {
 	overflow: hidden;
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

 body:after {
 	overflow: hidden;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
 
}

table tbody tr td a {
  font-size: 14px;
  color:red;
  text-decoration: none;
  font-weight: bold;
  margin-right: 8px;
}
 
 table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table:before {
  content: "SIMPS";
  font-size: 28px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

span:before{

content: "Look at this nasty time date format:  ";
}