/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur197.ani), url(http://cur.cursors-4u.net/cursors/cur-2/cur197.png), auto !important;} /* End http://www.cursors-4u.com */
@keyframes example {

	0% {
		transform: rotate(0turn) scale(1);
	}

	80% {
		transform: rotate(20turn) scale(0);
	}

	80.01% {
		transform: rotate(0turn) scale(1) skewX(89deg) skewY(1.1deg);
	}

	83% {
		transform: rotate(0turn) scale(0);
	}

	100% {
		transform: rotate(0turn) scale(0);
	}
}
body {
background-image: url("https://poro.tokyo/wineuncle.jpg");
background-size: cover;
border: 2px solid black;
padding: 25px;
font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1 h2 h3 h4 h5 a p ul li body {
animation: example 999s linear;
  }
