:root {
	counter-reset: clickme;
}

body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0;
	background: black;
}

h1 > a:before {
	content: "test";
	animation: pulse 2s infinite;
}

h1 > a {
	padding: 10px;
}

h1 > a:after {
	animation-name: pulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	content: "test";
}

h1 > a:active,
h1 > a:hover {
	padding: 10px;
	color: orange;
}

h2 {
	position: relative;
	top: 5%;
	left: 5%;
	display: grid;
	flex-direction: row;
	width: 100%;
	z-index: 1;
	color: purple;
	text-align: center;
}

h2:before {
	content: "---------";
}

h2:after {
	content: "";
	animation-name: countme;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	color: orange;
	justify-content: center;
}

h3 {
	position: relative;
	left: 20%;
	width:40%;
	transform: rotate3d(1, 1, 1, 40deg);
	animation-name: pulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

ul {
	display: flex;
	width: 100%;
	background: white;
	height: 50vh;
	border: 5px solid blue;
}

ul {
	position: relative;
	width: 80%;
	height: 100%;
	background-color: red;
	animation-name: hop;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

ul > li:nth-child(even) {
	position: relative;
	width: 80%;
	height: 100%;
	animation-name: odd;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

ul > li:nth-child(odd) {
	position: relative;
	width: 80%;
	height: 100%;
	animation-name: even;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

ul {
  counter-reset: section;
  list-style-type: none;
}

li::after {
  content: "-------------";
  color: hotpink;
}

li {
	display: grid;
	justify-content: center;
}

li::before {
  content: "-------------";
  color: hotpink;
}

a {
	color: black;
	text-decoration: none;
	animation-name: ani_color;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes hop {
	0% {
		top: 0%;
		background: #321303;
	}
	50% {
		top: 80%;
		background: #000000;
	}
	100% {
		top: 0%;
		background: #aeaeae;
	}
}

@keyframes odd {
	0% {
		top: 50%;
		left: 25%;
	}
	25% {
		top: 25%;
		left: calc(-50% - 25px);
	}
	50% {
		top: 0%;
		right: calc(50% - 25px);
	}
	75% {
		right: calc(50% - 25px);
	}
	100% {
		top: 50%;
		left: 25%;
	}
}

@keyframes even {
	0% {
		top: 0%;
		left: 25%;
	}
	25% {
		top: 25%;
		left: calc(-50% - 25px);
	}
	50% {
		top: 60%;
		right: calc(50% - 25px);
	}
	75% {
		right: calc(50% - 25px);
	}
	100% {
		top: 0%;
		left: 25%;
	}
}

@keyframes ani_color {
	0% {
		color: #ffebee;
	}
	25% {
		color: #afb42b;
	}
	50% {
		color: #f57f17;
	}
	75% {
		color: #dd2c00;
	}
	100% {
		color: #64dd17;
	}
}

@keyframes pulse {
	0% {
		color: red;
		font-size: 1em;
		transform: rotate3d(1, 1, 1, 40deg);
	}
	25% {
		color: orange;
		font-size: 2em;
		transform: rotate3d(1, 1, 1, 10deg);
	}
	50% {
		color: blue;
		font-size: 1.15em;
		transform: rotate3d(1, 1, 1, 100deg);
	}
	75% {
		color: indigo;
		font-size: 2em;
		transform: rotate3d(1, 1, 1, 10deg);
	}
	100% {
		color: violet;
		font-size: 1em;
		transform: rotate3d(1, 1, 1, 40deg);
	}
}

@keyframes countme {
	0%  {
		content: "S";
		text-decoration: line-through;
	}
	10% {
		content: "US";
		text-decoration: line-through;
	}
	20% {
		content: "SUB";
		text-decoration: line-through;
	}
	30% {
		content: "SBUS";
		text-decoration: line-through;
	}
	40% {
		content: "SUBSC";
		text-decoration: overline;
	}
	50% {
		content: "RCSBUS";
		text-decoration: line-through overline;
	}
	60% {
		content: "SUBSCRI";
		text-decoration: overline underline;
	}
	70% {
		content: "BIRCSBUS";
		text-decoration: overline;
	}
	80% {
		content: "SUBSCRIBE";
		text-decoration: line-through;
	}
	90% {
		content: "EBIRCSBUS";
		text-decoration: overline line-through underline;
	}
	100% {
		content: "SUBSCRIBE";
		text-decoration: underline;
	}
}
