* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3,
table,
ul {
    height: 100%;
    width: 100%;
}

html {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

body {
    width: 30vh;
    height: 30vh;
    transform-style: preserve-3d;
    position: relative;
    transform-style: preserve-3d;
    animation: cubeRotation 5s infinite, pulse 3s infinite;
}

body>h1,
h2,
h3,
table,
ul,
figure {
    position: absolute;
    height: 100%;
    width: 100%;
    float: left;
    overflow: hidden;
    font-size: 1em;
    opacity: 0.7;
}

h3 {
    transform: rotatex(90deg) translate3d(0px, 0px, 15vh);
    background-color: #ff8a80;
    animation: grow1 4s infinite;

}


h2 {
    transform: rotateY(-90deg) translate3d(0px, 0px, 15vh);
    background-color: #ffab40;
    animation: grow2 4s infinite;

}

h1 {
    transform: translate3d(0px, 0px, 15vh);
    background-color: #b9f6ca;
    display: grid;
    animation: growfront 4s infinite;
}

h1:after {
    content: "Secretmud is really cool!";
    color: black;

}

table {
    transform: rotateY(90deg) translate3d(0px, 0px, 15vh);
    background-color: #80d8ff;
    animation: grow3 4s infinite;

}

ul {
    transform: rotateY(180deg) translate3d(0px, 0px, 15vh);
    background-color: #8c9eff;
    animation: grow4 4s infinite;

}

figure {
    color: black;
    transform: rotateX(-90deg) translate3d(0px, 0px, 15vh);
    background-color: #ee82ee;
    animation: grow5 4s infinite;
}

audio {
    width: 100%;
}

@keyframes cubeRotation {
    0% {
        transform: rotate3d(1, 0, 0.75, 0.25turn) translate3d(0px, 0px, 15vh);

    }

    25% {
        transform: rotate3d(0, 0.75, 1, 0.76turn) translate3d(0px, 0px, 25vw);

    }

    50% {
        transform: rotate3d(0, 1, 0.5, 0.65turn) translate3d(0px, 0px, 5vh);

    }

    75% {
        transform: rotate3d(0.25, 1, 0.25, 0.76turn) translate3d(0px, 0px, 25vw);

    }

    100% {
        transform: rotate3d(1, 0, 0.75, 0.25turn) translate3d(0px, 0px, 15vh);
    }
}


@keyframes growfront {
    0% {
        transform: translate3d(0px, 0px, 15vh);
    }

    50% {
        transform: translate3d(0px, 0px, 30vh);
    }

    100% {
        transform: translate3d(0px, 0px, 15vh);
    }
}

@keyframes grow1 {
    0% {
    transform: rotatex(90deg) translate3d(0px, 0px, 15vh);
    }

    50% {
    transform: rotatex(90deg) translate3d(0px, 0px, 30vh);
    }

    100% {
    transform: rotatex(90deg) translate3d(0px, 0px, 15vh);
    }
}

@keyframes grow2 {
    0% {
    transform: rotateY(-90deg) translate3d(0px, 0px, 15vh);
    }

    50% {
    transform: rotateY(-90deg) translate3d(0px, 0px, 30vh);
    }

    100% {
    transform: rotateY(-90deg) translate3d(0px, 0px, 15vh);
    }
}

@keyframes grow3 {
    0% {
    transform: rotateY(90deg) translate3d(0px, 0px, 15vh);
    }

    50% {
    transform: rotateY(90deg) translate3d(0px, 0px, 30vh);
    }

    100% {
    transform: rotateY(90deg) translate3d(0px, 0px, 15vh);
    }
}

@keyframes grow4 {
    0% {
    transform: rotateY(180deg) translate3d(0px, 0px, 15vh);
    }

    50% {
    transform: rotateY(180deg) translate3d(0px, 0px, 30vh);
    }

    100% {
    transform: rotateY(180deg) translate3d(0px, 0px, 15vh);
    }
}

@keyframes grow5 {
    0% {
    transform: rotateX(-90deg) translate3d(0px, 0px, 15vh);
    }

    50% {
    transform: rotateX(-90deg) translate3d(0px, 0px, 30vh);
    }

    100% {
    transform: rotateX(-90deg) translate3d(0px, 0px, 15vh);
    }
}

