body {
  background-image: url("https://i.imgur.com/xp6NBlW.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  color: black;
}