html {  
  background-image: url("https://raw.githubusercontent.com/qtile/qtile/master/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;

}  
body {
  
  color: #39ff14;
  font-size: 1.1em;
  font-family: 'Fira Code', monospace;
  text-shadow: 0 0 1px #C8C8C8;
}
body::before {
  content: "Qtile Page";
  color: #333;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

pre {
  margin: 0;
}
a {
  color: rgba(57, 255, 20, 0.8);
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}
li::before {
  content: "Qtile# ";
}
li {
  list-style: none;
}
h3::after {
  content: ".8675309e7 | => STREAMGOD"
}
ul::after {
  content: "#: stupac62 made all the sounds."
}
ul {
  padding-left: 0px;
}
figure {
  
}

figcaption{
  display:none;
 }