body {
  background: initial;
  color: initial;
  font-size: initial;
  font-family: initial;
}

h1 {
  color: initial;
  text-align: initial;
}

p {
  color: initial;
  font-family: initial;
  font-style: initial;
}