body {
  -webkit-animation: rainbow .00001s infinite;
  -ms-animation: rainbow .00001s infinite;
  -o-animation: rainbow .00001s infinite;
  animation: rainbow .00001s infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background: #ff0000;
  }
  10% {
    background: #ff8000;
  }
  20% {
    background: #ffff00;
  }
  30% {
    background: #80ff00;
  }
  40% {
    background: #00ff00;
  }
  50% {
    background: #00ff80;
  }
  60% {
    background: #00ffff;
  }
  70% {
    background: #0080ff;
  }
  80% {
    background: #0000ff;
  }
  90% {
    background: #8000ff;
  }
  100% {
    background: #ff0080;
  }
}

@-ms-keyframes rainbow {
  0% {
    background: #ff0000;
  }
  10% {
    background: #ff8000;
  }
  20% {
    background: #ffff00;
  }
  30% {
    background: #80ff00;
  }
  40% {
    background: #00ff00;
  }
  50% {
    background: #00ff80;
  }
  60% {
    background: #00ffff;
  }
  70% {
    background: #0080ff;
  }
  80% {
    background: #0000ff;
  }
  90% {
    background: #8000ff;
  }
  100% {
    background: #ff0080;
  }
}

@-o-keyframes rainbow {
  0% {
    background: #ff0000;
  }
  10% {
    background: #ff8000;
  }
  20% {
    background: #ffff00;
  }
  30% {
    background: #80ff00;
  }
  40% {
    background: #00ff00;
  }
  50% {
    background: #00ff80;
  }
  60% {
    background: #00ffff;
  }
  70% {
    background: #0080ff;
  }
  80% {
    background: #0000ff;
  }
  90% {
    background: #8000ff;
  }
  100% {
    background: #ff0080;
  }
}

@keyframes rainbow {
  0% {
    background: #ff0000;
  }
  10% {
    background: #ff8000;
  }
  20% {
    background: #ffff00;
  }
  30% {
    background: #80ff00;
  }
  40% {
    background: #00ff00;
  }
  50% {
    background: #00ff80;
  }
  60% {
    background: #00ffff;
  }
  70% {
    background: #0080ff;
  }
  80% {
    background: #0000ff;
  }
  90% {
    background: #8000ff;
  }
  100% {
    background: #ff0080;
  }
}