body {
    background-image: url('https://github.com/RunZebraSlowly/images/blob/master/hypertunnel.jpg?raw=true');
    background-position: center;
    text-align: center;
    color: white;
}

a {
    color: white;
}