
body:before{
  content:"The site ahead contains harmful programs";
  margin-left:7.5%;
  position:relative;
  top: -3.5em;
}

h1:before{
  content:"Attackers on mygeoangelfirespace.city might attempt to trick you into installing programs that harm \A your browsing experience (for example, by changing your homepage or showing extra ads \A on sites you visit.) Learn more \A\A\A Help improve Safe Browsing by sending some system information and page content to Google. \A Privacy policy";
  display: block;  
  white-space: pre-wrap;
  font-size: 16px !important;
  font-weight:normal;
  margin-left:7.5%;
  position:relative;
  top: -5.8em;
  line-height: 30px;
}

body {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:20%;
  width:50%;
  background-color:#D93024 !important;
  color: white;
  font-size: 2em;
  font-family: "Helvetica";
  background-image:url("https://i.imgur.com/elbFZMM.png"), url("https://i.imgur.com/UD9v319.png"), url("https://i.imgur.com/71aReGy.png") !important;
  background-repeat:no-repeat !important;
  background-position: top 3.3% left 30.2%, top 27.8% left 30.6%,  top 28% left 66.6% !important;
  background-size: 100px, 100px, 125px !important;
}

h1 {
  color: white;
  font-size:0px;
  text-align:initial !important;
}

p {
  color: white;
  font-family: futura;
  font-style: bold;
}

a{
  color:white;
}

h2{
  padding-top:8em;
}