@keyframes spin {
  from {
    opacity: 0.6;
    transform: scale(0.8) rotate(0deg);
  }
  
  to {
    transform: scale(1.3) rotate(360deg);
  }
}

h1 {
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}