<!doctype html>

<title>Beginland</title>

<head>
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/styles/style.css">
    <meta http-equiv="refresh" content="{{ refresh_time }}">
</head>

<body>
  <h1>BeginWorld Finance</h1>
  <h2>Users</h2>

  <ul>
    {% for user in users %}
        {% if user['name'] %}
          <li>
            <a href="{{ base_url }}/{{ user['name'] }}.html"> {{ user['name'] }}</a> |
            Cool Points: {{ user['cool_points'] }} |
            Street Cred: {{ user['street_cred'] }}
            {% if user['ride_or_die'] %}
              | Ride Or Die: <a href="{{ base_url }}/{{ user['ride_or_die'] }}.html">
                {{ user['ride_or_die'] }}</a>
            {% endif %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>

  <h2>Commands</h2>

  <ul>
    {% for command in commands %}

      {% if command['name'] %}

        <li>
          <a href="{{ base_url }}/commands/{{ command['name'] }}.html">{{ command['name'] }}</a>
          | Cost: {{ command['cost'] }}
        </li>

      {% endif %}
    {% endfor %}
  </ul>
</body>
