<!doctype html> <title>Beginland</title>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta http-equiv="refresh" content="5">
</head>

Cool Points: {{ facts.cool_points }} | Street Cred: {{ facts.street_cred }}
<br />
Found Sounds: {{ facts.available_sounds }} | Unfound Sounds: {{ facts.unavailable_sounds }}
<br />
Peace Votes: {{ facts.peace_count }} | Revolution Votes: {{ facts.revolution_count }}

<ul>
  {% for user, sfx_count in facts.top_users %}
    <li>{{ user }} : {{ sfx_count }} Soundeffects</li>
  {% endfor %}
</ul>
