<!doctype html>
<title>Beginland</title>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta http-equiv="refresh" content="5">
</head>

Total Cool Pointz: {{ facts.cool_points }}
<br />
Street Cred: {{ facts.street_cred }}
<br />
Available Sounds: {{ facts.available_sounds }}
<br />
Unavailable Sounds: {{ facts.unavailable_sounds }}
<br />
Total Votes: {{ facts.total_votes }}
<br />
Peace Votes: {{ facts.peace_count }}
<br />
Revolution Votes: {{ facts.revolution_count }}

<ul>
  {% for user, sfx_count in facts.top_users %}
    <li>{{ user }} : {{ sfx_count }} Soundeffects</li>
  {% endfor %}
</ul>
