<!doctype html> <title>Beginland</title>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://www.beginworld.exchange/styles/whatsinmyopsec.css">
    <meta http-equiv="refresh" content="5">
</head>

🤠 Street Cred: {{ facts.street_cred }} |
😎 Cool Points: {{ facts.cool_points }} |
Found 🔊  : {{ facts.available_sounds }} / {{ facts.total_sounds }} |

{% for user, sfx_count in facts.top_users %}

  @{{ user }} : {{ sfx_count }} 🔊 |
{% endfor %}

{% for effect in facts.most_popular %}
  !{{ effect }} 💸 |
{% endfor %}
