<!doctype html> <title>Beginland</title>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta http-equiv="refresh" content="5">
</head>

<h1>Breaking News</h1>

<div>
  {{ scope }}
</div>

<br />

{% if stats %}
  <div>
  {{ stats }}
  </div>
{% endif %}

<hr />


{% if category == "peace" %}
  <h3>Revolutionaries:</h3>
  ALL REVOLUTIONARIES LOST THEIR SOUNDS AND ARE BANKRUPT
  <br />
  <br />
  {{ ' '.join(revolutionaries) }}h

  <br />

  <h3>Peace Keepers:</h3>
  PEACE KEEPERS INHERITED ALL THE REVOLUTIONARIES SOUNDS
  <br />
  <br />
  {{ ' '.join(peace_keepers) }}

  <!-- <br /> -->
  <!-- <h3>Fence Sitters:</h3> {{ ' '.join(fence_sitters) }} -->

{% endif %}

{% if category == "revolution" %}
  <div>
  </div>

  <h3>Revolutionaries:</h3>
  Revolutionaries have had their sound siezed and are gettting
  an even amount with other revolutionaries
  <br />
  <br />
  <div>
    {{ ' '.join(revolutionaries) }}
  </div>

  <br />

  <h3>Peace Keepers:</h3>
  Peace Keepers have had their sounds siezed and redistributed
  <br />
  <br />
  <div>
    {{ ' '.join(peace_keepers) }}
  </div>
{% endif %}
