<!doctype html>

<title>Beginland</title>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta http-equiv="refresh" content="{{ refresh_time }}">
</head>

<body>
  <h1>BeginWorld Finance</h1>
  <h2>Users</h2>

  <ul>
    {% for user in users %}
        {% if user['name'] %}
          <li>
            <a href="{{ url_for('profile', username=user['name']) }}">{{ user['name'] }}</a> |
            Cool Points: {{ user['cool_points'] }} |
            Street Cred: {{ user['street_cred'] }}
            {% if user['ride_or_die'] %}
              | Ride Or Die: <a href="{{ url_for('profile', username=user['ride_or_die']) }}">
                {{ user['ride_or_die'] }}</a>
            {% endif %}
          </li>
        {% endif %}
    {% endfor %}
  </ul>

  <h2>Commands</h2>

  <ul>
    {% for command in commands %}

      <!-- {'name': 'coup', 'user': 'beginbot', 'permitted_users': [], 'health': 5, 'cost': 60} -->

      {% if command['name'] %}

        <li>
          <a href="{{ url_for("command_stats", command_name=command['name']) }}">{{ command['name'] }}</a>
          | Cost: {{ command['cost'] }}
        </li>

      {% endif %}
    {% endfor %}
  </ul>
</body>
