<!doctype html>

<title>Beginland</title>

<head>
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/styles/style.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/styles/the_fed.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/styles/{{ winner }}.css">
  <meta charset="utf-8" http-equiv="refresh" content="{{ refresh_time }}">
</head>

<body class="stats">
  <h1><a href="{{ base_url }}">BeginWorld Finance</a></h1>
  <h2>Stats</h2>
  <h3>Total Street Cred: {{ total_street_cred }}</h3>
  <h3>Total Cool Points: {{ total_cool_points }}</h3>
  <h3>The Fed Reserve: {{ fed_reserve }}</h3>
  <h3>Total User Property Value: {{ total_user_sfx_property }}</h3>
</body>
