<!doctype html>

<title>Beginland</title>

<head>
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/styles/style.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url }}/styles/the_fed.css">
  <meta charset="utf-8" http-equiv="refresh" content="{{ refresh_time }}">
</head>

<body>
  <h1>Stats</h1>
  <h2>Total Street Cred: {{ total_street_cred }}</h2>
  <h2>Total Cool Points: {{ total_cool_points }}</h2>
  <h2>The Fed Reserve: {{ fed_reserve }}</h2>
  <h2>Total User Property Value: {{ total_user_sfx_property }}</h2>
</body>
